services:
  app:
    build:
      context: .
    container_name: recipes_app
    pull_policy: build
    restart: unless-stopped
    environment:
      - DATABASE_URL=mongodb://root:supersecure@recipes_db:27017
    volumes:
      - uploads:/app/uploads
  db:
    image: mongo:7.0.26
    container_name: recipes_db
    restart: unless-stopped
    volumes:
      - data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=supersecure

volumes:
  data:
  uploads:

    # Server-specific config
networks:
  default:
    name: "underme"
    external: true
