{%extends "base.html"%} {% block content%}

<h2>What can you do in this website?</h2>

<p class="about-us">
  Hello there! This website was designed to store all your favorite recipes in
  one place. It provides a platform where you can browse, create, and edit your
  recipes however you like. I created it because I got tired of saving recipes
  on different platforms and I always wanted to have one place where I can see
  all the recipes that I like/ want to try so I made this!
</p>
<p class="about-us">
  I hope you find it to be useful as much as I do (or even a little less it's
  okay) Thank you for being here.
</p>
{%endblock%}
