<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kaushan+Script&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <title>My Recipes</title>
  </head>
  <body>
    <div class="site-header">
      <h1 class="site-name">My Recipes</h1>
      <nav class="nav-bar">
        <a href="/">Home</a>
        <a href="/recipe/create">Create New Recipe</a>
        <a href="/about-us">About Us</a>
        {%if session.get("user", False)%}
        <a href="/auth/logout" id="logout-button"> Log Out </a>
        {%else%}
        <a href="/auth/login">Log in</a>
        <a href="/auth/register">Register</a>
        {%endif%}
      </nav>
    </div>
    <div class="site-flash-messages">
      {% with messages = get_flashed_messages()%} {%if messages%} {%for message
      in messages%}
      <p>{{message}}</p>
      {%endfor%} {%endif%} {%endwith%}
    </div>
    <div class="site-content-container">{%block content%}{%endblock%}</div>
  </body>
  <script>
    const run = () => {
      const logoutButton = document.getElementById("logout-button");
      if (!logoutButton) {
        return;
      }
      logoutButton.addEventListener("click", async (event) => {
        event.preventDefault();
        if (confirm("Are you sure you want to log out?")) {
          await fetch("/auth/logout");
          window.location.href = "/";
        }
      });
    };

    run();
  </script>
</html>
