{%extends "base.html"%} {%block content%}

<section class="recipes-container">
  {%for recipe in recipes%}
  <div class="recipe">
    {%if recipe['image'] %}
    <div>
      <img
        class="recipe-card-image"
        src="/uploads/{{recipe['image']}}"
        alt="Image of {{recipe['name']}}"
      />
    </div>
    {%endif%}
    <h2>{{recipe["name"]}}</h2>
    <a class="button card-button" href="/recipe/{{ recipe['_id'] }}">
      View Recipe
    </a>
  </div>
  {%endfor%}
</section>
{%endblock%}
