{% extends "base.html"%} {%block content%}

<h2>Your recipes</h2>
{%if recipes|length == 0%}
<p>You don't have any recipes saved yet</p>
{%else%}

<section class="recipes-container">
  {%for recipe in recipes%}
  <div class="recipe">
    {%if recipe['image'] %}
    <div>
      <img
        class="recipe-card-image"
        src="/uploads/{{recipe['image']}}"
        alt="Image of {{recipe['name']}}"
      />
    </div>
    {%endif%}
    <h2>{{recipe["name"]}}</h2>
    <a class="button card-button" href="/recipe/{{ recipe['_id'] }}">
      View Recipe
    </a>
  </div>
  {%endfor%}
</section>
{%endif%} {%endblock%}
